@model GrandeTravel.Site.Models.Membership.EditUserViewModel

@{
    ViewBag.Title = "User Account";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@section styles {
    <link href="~/Content/clearcanvas/membership.css" rel="stylesheet" />
}

<div id="membership" class="register">
    <div class="container">
        <div class="row">

            <div class="col-md-12 admin-form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <fieldset>
                        <legend>Edit Account</legend>

                        <header class="register-header">
                            <div class="header">

                                @if (Model.IsAdmin)
                                {
                                    <h4>Manage User Account</h4>
                                }
                                else
                                {
                                    <h4>Manage your account</h4>
                                }
                            </div>
                        </header>

                        <div class="row">
                            <section class="col-md-6">

                                <span>@Html.HiddenFor(model => model.IsAdminEdit)</span>
                                <span>@Html.HiddenFor(model => model.UserId)</span>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new
                                   {
                                       @class = "form-control",
                                       @readonly = "readonly"
                                   })
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Password, new
                               {
                                   maxlength = 50,
                                   autocomplete = "off",
                                   type = "password",
                                   placeholder = "Change Password",
                                   @class = "form-control"
                               })
                                    @Html.ValidationMessageFor(model => model.Password)
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.ConfirmPassword, new
                               {
                                   maxlength = 50,
                                   autocomplete = "off",
                                   type = "password",
                                   placeholder = "Confirm Password",
                                   @class = "form-control"
                               })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>

                                @if (Model.IsAdmin)
                                {
                                    <div class="membership-checkbox">
                                        @Html.CheckBoxFor(model => model.IsInactiveUser)
                                        @Html.LabelFor(model => model.IsInactiveUser, "Inactivate user account")
                                    </div>
                                }

                                <div class="register-error">
                                    <p>
                                        <span class="error-message">@Html.ValidationMessage("ErrorMessage")</span>
                                        <span class="success-message">@ViewBag.Message</span>
                                    </p>
                                </div>

                            </section>

                            @{Html.RenderPartial("_Partial_UserDetails");}

                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary membership-submit register-submit">Submit</button>
                        </div>

                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
