@model GrandeTravel.Site.Models.Payment.PaymentViewModel

@{
    ViewBag.Title = "Payment";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@using System.Web.Configuration;

<h1>Braintree Credit Card Transaction Form</h1>
<section class="container">
    <section class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("CreateTransaction", "Payment", FormMethod.Post, new { id = "braintree-payment-form" }))
            {
                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>Create Transaction</legend>


                    @*<form action="/create_transaction" method="POST" id="braintree-payment-form">
                        <p>
                            <label>Card Number</label>
                            <input type="text" size="20" autocomplete="off" data-encrypted-name="number" />
                        </p>
                        <p>
                            <label>CVV</label>
                            <input type="text" size="4" autocomplete="off" data-encrypted-name="cvv" />
                        </p>
                        <p>
                            <label>Expiration (MM/YYYY)</label>
                            <input type="text" size="2" data-encrypted-name="month" /> / <input type="text" size="4" data-encrypted-name="year" />
                        </p>
                        <input type="submit" id="submit" />
                    </form>*@

                    @Html.HiddenFor(model => model.Amount)
                    @Html.HiddenFor(model => model.PackageId)
                    @Html.HiddenFor(model => model.PackageName)

                    <div class="form-group">
                        @Html.LabelFor(model => model.CCNumber)
                        @Html.TextBoxFor(model => model.CCNumber)
                        @Html.ValidationMessageFor(model => model.CCNumber)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CVV)
                        @Html.TextBoxFor(model => model.CVV)
                        @Html.ValidationMessageFor(model => model.CVV)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpirationMonth)
                        @Html.TextBoxFor(model => model.ExpirationMonth)
                        @Html.ValidationMessageFor(model => model.ExpirationMonth)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ExpirationYear)
                        @Html.TextBoxFor(model => model.ExpirationYear)
                        @Html.ValidationMessageFor(model => model.ExpirationYear)
                    </div>

                    <div class="form-group">
                        <p>Package : @Model.PackageName</p>
                        <p>Total Amount : @String.Format("{0:C}", Model.Amount)</p>                        
                    </div>

                    <div>
                        <input type="submit" id="submit" class="btn btn-primary" />
                    </div>
                </fieldset>
            }
        </div>
    </section>
</section>

@section Scripts {
    <script src="https://js.braintreegateway.com/v1/braintree.js"></script>
    <script>
        var braintree = Braintree.create(@WebConfigurationManager.AppSettings["brainTreeClientSideEncryptionKey"]);
        braintree.onSubmitEncryptForm('braintree-payment-form');
    </script>
}
