@model GrandeTravel.Site.Models.Orders.FeedbackViewModel

@{
    ViewBag.Title = "Feedback";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@section styles {
    <link href="~/Content/clearcanvas/membership.css" rel="stylesheet" />
}

<div class="register membership">
    <div class="container">
        <div class="row">

            <div class="col-md-12 admin-form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <fieldset>
                        <legend>Feedback</legend>

                        <div class="row">
                            <section class="col-md-3"></section>

                            <section class="col-md-6">
                                <header class="register-header">
                                    <div class="header">
                                        <h4>Feedback</h4>
                                    </div>
                                </header>

                                <br />

                                <div>
                                    <p class="label-blue">What feedback would you like to give for our @Model.PackageName package?</p>
                                </div>

                                @Html.HiddenFor(model => model.OrderId)

                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.Feedback, new { maxlength = 250, style = "width: 370px; height: 170px;" })
                                    @Html.ValidationMessageFor(model => model.Feedback)
                                </div>

                                <div>
                                    <button type="submit" class="btn btn-primary membership-submit register-submit">Submit</button>
                                    <a class="btn btn-primary membership-submit register-submit"
                                     href="@Url.Action("Search", "Orders")">Back to My Orders</a>
                                </div>
                            </section>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
