@model GrandeTravel.Site.Models.Orders.CustomerOrdersViewModel
@using GrandeTravel.Entity

@{
    ViewBag.Title = "Customer Orders";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@section styles {
    @Styles.Render("~/Content/themes/base/css")
    <link href="~/Content/clearcanvas/theme.css" rel="stylesheet" />

}

<div class="container">

    <header class="section-header order-header">
        <h3>My Orders</h3>
    </header>

    <section class="row orders-table">
        <div class="col-md-12">
            @{
                if (!ViewData.ModelState.IsValid || Model.Orders == null)
                {
                    <div class="order-error error-message">Sorry, we have been unable to retrieve your orders.</div>
                }
                else if (Model.Orders.Count == 0)
                {
                    <div class="order-error error-message">There are no orders on your account.</div>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date Booked</th>
                                <th>Package</th>
                                <th>Voucher Code</th>
                                <th>Amount</th>
                                <th>Paid</th>
                                <th>Transaction Id</th>
                                <th>Feedback</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                    foreach (Order order in Model.Orders)
                    {
                        <tr>
                            @* DateBooked / Package Name *@
                            <td>@order.DateBooked.ToShortDateString()</td>
                            <td>@order.Package.Name</td>

                            @* Voucher Code *@
                            @if (order.VoucherCode == 0)
                            {
                                <td></td>
                            }
                            else
                            {
                                <td>@order.VoucherCode.ToString("00000000")</td>
                            }

                            @* Amount *@
                            <td>@String.Format("{0:C}", order.Amount)</td>


                            @* Paid / Feedback / Transaction Id *@
                            @if (order.Paid)
                            {
                                string feedbackButtonText = String.IsNullOrEmpty(order.Feedback) ? "Give Feedback" : "Edit Feedback";
                                
                                <td>Yes</td>

                                <td>@order.TransactionId</td>

                                <td>
                                    <span>
                                        <a class="btn btn-xs btn-primary"
                                           href="@Url.Action("Feedback", "Orders", new { orderId = @order.OrderId })">@feedbackButtonText</a>
                                    </span>
                                </td>
                            }
                            else
                            {
                                <td>No</td>
                                <td></td>
                                <td></td>
                            }
                        </tr>
                    }
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </section>
</div>
