@model GrandeTravel.Site.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@section styles {
    <link href="~/Content/clearcanvas/membership.css" rel="stylesheet" />
}

<div id="membership" class="sign-in">
    <div class="container">

        <div class="col-md-12 admin-form">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-inline" }))
            {
                @Html.AntiForgeryToken()

                <fieldset>
                    <legend>Login</legend>

                    <header class="row sign-in-header">
                        <div class="col-md-12 header">
                            <h4>Log in to your account</h4>
                        </div>
                    </header>

                    <div class="row sign-in-input">
                        <div class="col-md-12">
                            <span class="form-group">
                                @Html.EditorFor(model => model.Email)
                            </span>

                            <span class="form-group">
                                @Html.EditorFor(model => model.Password)
                            </span>
                        </div>
                    </div>

                    <p class="error-message">
                        @Html.ValidationMessage("ErrorMessage")
                        @Html.ValidationMessageFor(model => model.Email)
                        @Html.ValidationMessageFor(model => model.Password)
                    </p>

                    <div>
                        <button type="submit" class="btn btn-primary membership-submit">Login</button>
                    </div>
                </fieldset>
            }

            <div class="row">
                <div class="col-md-9">
                    <div class="no-account">
                        <span>Don’t have an account?</span>
                        @Html.ActionLink("Sign Up", "Create", "Membership")
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}