@using GrandeTravel.Site.Helpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Rob Grant" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />

    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")

    <!-- Styles -->
    @Styles.Render("~/Content/bootstrapcss")

    <!-- Clear Canvas styles -->
    <link href="~/Content/clearcanvas/theme.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css' />

    @RenderSection("styles", required: false)

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>
    <header>
        @if (Request.IsAuthenticated)
        {
            string userRole = "";
            if (HttpContext.Current.User.IsInRole("Admin"))
            {
                userRole = "Admin";
            }
            else if (HttpContext.Current.User.IsInRole("Provider"))
            {
                userRole = "Travel Provider";
            }

            <section class="login-row row">
                <div class="col-md-12">
                    <div class="login-header">Logged in as @userRole @WebSecurity.CurrentUserName</div>
                </div>
            </section>
        }

        <nav>
            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="brand navbar-brand" href="/Home/Index">
                            <img src="../../Images/Site/grande_travel_logo.png" alt="" class="img-responsive" />
                        </a>
                    </div>

                    <div class="collapse navbar-collapse nav-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
                            @if (Request.IsAuthenticated)
                            {
                                <!-- User has logged in -->
                                <li class="active">@Html.ActionLink("HOME", "Index", "Home")</li>

                                if (HttpContext.Current.User.IsInRole("Customer"))
                                {
                                    <!-- Customer -->
                                    <li>@Html.ActionLink("PACKAGES", "Search", "Packages")</li>
                                }

                                else if (HttpContext.Current.User.IsInRole("Provider"))
                                {
                                    <!-- Provider -->
                                    <li>@Html.ActionLink("PACKAGES", "Search", "Packages")</li>

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">MY PACKAGES <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Add a Package", "Add", "Packages")</li>
                                            <li>@Html.ActionLink("Manage Packages", "ProviderSearch", "Packages")</li>
                                        </ul>
                                    </li>
                                }
                                else if (HttpContext.Current.User.IsInRole("Admin"))
                                {
                                    <!-- Admin -->
                                    <li>@Html.ActionLink("PACKAGES", "Search", "Packages")</li>
                                    <li>@Html.ActionLink("STATISTICS", "Index", "Statistics")</li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">USER ACCOUNTS<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink("Add User", "Add", "Membership")</li>
                                            <li>@Html.ActionLink("Manage Accounts", "Search", "Membership")</li>
                                        </ul>
                                    </li>
                                }

                                <li>@Html.ActionLink("MY ACCOUNT", "Edit", "Membership")</li>
                                <li class="btn-header">@Html.ActionLink("Sign Out", "Index", "Logout")</li>
                            }
                            else
                            {
                                <!-- No login -->
                                <li class="active">@Html.ActionLink("HOME", "Index", "Home")</li>
                                <li>@Html.ActionLink("PACKAGES", "Search", "Packages")</li>
                                <li class="btn-header">@Html.ActionLink("Sign Up", "Add", "Membership")</li>
                                <li class="btn-header">@Html.ActionLink("Sign In", "Index", "Login")</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <footer id="footer">
        <div class="container">
            <div class="row info">
                <div class="col-sm-6 residence">
                    <ul>
                        <li>121 Pitt Street, Sydney, NSW, 2000.</li>
                        <li>Australia</li>
                    </ul>
                </div>

                <div class="col-sm-5 touch">
                    <ul>
                        <li><strong>P.</strong> (02) 9316 7843</li>
                        <li><strong>E.</strong><a href="mailto:robgrantj@GrandeTravel.com.au"> robgrant@GrandeTravel.com.au</a></li>
                    </ul>
                </div>
            </div>

            <div class="row credits">
                <div class="col-md-12">
                    <div class="row copyright">
                        <div class="col-md-12">
                            &copy; @System.DateTime.Now.ToString("yyyy") Grande Travel. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapjs")

    @RenderSection("Scripts", required: false)
</body>
</html>
