@model GrandeTravel.Site.Models.Membership.MembershipViewModel

@using GrandeTravel.Site.Helpers
@using GrandeTravel.Entity.Enums

@if (Model != null)
{
    <section class="col-md-6">
        <div class="form-group">
            @Html.EditorFor(model => model.FirstName, new { maxlength = 50 })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.LastName, new { maxlength = 50 })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Address, new { maxlength = 100 })
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.City, new { maxlength = 50 })
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="form-group">
            @Html.DropDownListFor(model => model.State,
                                        SelectListItemHelpers.GetEnumSelectListItems<AustralianStateEnum>(),
                                        new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Postcode, new { maxlength = 4 })
            @Html.ValidationMessageFor(model => model.Postcode)
        </div>

        <div class="form-group">
            @Html.EditorFor(model => model.Phone, new { maxlength = 15 })
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </section>
}