@model GrandeTravel.Site.Models.Activities.ActivitiesViewModel

@using GrandeTravel.Site.Helpers
@using GrandeTravel.Entity.Enums

@{
    ViewBag.Title = "Edit Activity";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@section styles {
    <link href="~/Content/clearcanvas/membership.css" rel="stylesheet" />
}

<div class="membership register">
    <div class="container">
        <div class="row">

            <div class="col-md-12 admin-form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <fieldset>
                        <legend>Edit Activity</legend>

                        <div class="row">
                            <section class="col-md-3"></section>
                            <section class="col-md-6">
                                <header class="register-header">
                                    <div class="header">
                                        <h4>Edit Activity</h4>
                                    </div>
                                </header>

                                <div>
                                    <br />
                                    <p class="label-blue">Editing Activity from @Model.PackageName.</p>
                                </div>

                                <div>
                                    @Html.HiddenFor(model => model.ActivityId)
                                    @Html.HiddenFor(model => model.PackageId)
                                    @Html.HiddenFor(model => model.PackageName)
                                    @Html.HiddenFor(model => model.PackageCity)
                                    @Html.HiddenFor(model => model.PackageState)
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.ActivityName, new { maxlength = 50 })
                                    @Html.ValidationMessageFor(model => model.ActivityName)
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.Description, new { maxlength = 100 })
                                    @Html.ValidationMessageFor(model => model.Description)
                                </div>

                                <div class="form-group">
                                    @Html.EditorFor(model => model.Address, new { maxlength = 100 })
                                    @Html.ValidationMessageFor(model => model.Address)
                                </div>
                            </section>
                        </div>

                        @{
                    if (Model.ErrorMessage != null)
                    {
                        <p class="error-message">@Model.ErrorMessage</p>
                    }
                    else if (Model.SuccessMessage != null)
                    {
                        <p class="success-message">@Model.SuccessMessage</p>
                            <div>
                                <a class="btn btn-primary membership-submit register-submit" href="@Url.Action("ProviderSearch", "Packages")">Back to My Packages</a>
                            </div>
                    }
                    else
                    {
                        <div>
                            <button type="submit" class="btn btn-primary membership-submit register-submit">Submit</button>
                        </div>
                    }
                        }
                    </fieldset>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
